<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.alipapa.seat.dao.LoginDao">
    <select id="getLoginInformation" resultType="cn.alipapa.seat.bean.response.LoginStatusResponse">
        SELECT serial
        FROM user
        WHERE user.openid=#{loginInformationResponse.getOpenid()}
    </select>
</mapper>