<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.alipapa.seat.dao.RecordDao">

    <insert id="insertEnterTime" useGeneratedKeys="true">
        INSERT INTO record (user_id,enter_time,record_date)
        VALUES (#{userId},#{enterTime},#{recordDate})
    </insert>

    <update id="updateLeaveTime">
        update record set leave_time = #{leaveTime}
        where user_id=#{userId}
        and leave_time is NULL
        and record_date = #{recordDate}
    </update>
</mapper>

