<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.alipapa.seat.dao.ReservationDao">
    <select id="getReservationOnSeatAtDate" resultType="cn.alipapa.seat.bean.entity.Reservation">
        select *
        from reservation as r
        where seat_id = #{seatId}
          and r.reservation_date = #{date, jdbcType=DATE}
    </select>

    <update id="updateEnterTime">
        update reservation r
        set r.enter_time = #{enterTime}
        where r.id = #{reservationId}
        limit 1
    </update>

    <update id="updateLeaveTime">
        update reservation r
        set r.leave_time = #{leaveTime}
        where r.id = #{reservationId}
        limit 1
    </update>

    <select id="getProceedingReservationOfUser" resultType="cn.alipapa.seat.bean.entity.Reservation">
        select *
        from reservation r
        where r.user_id = #{userId}
          and r.reservation_date = CURDATE()
          and CURTIME() between r.start and r.end
        limit 1
    </select>

    <select id="getReservations" resultType="cn.alipapa.seat.bean.entity.Reservation">
        select *
        from reservation r
        where r.user_id = #{userId}
        order by r.reservation_date desc
        limit #{limit}
            offset #{offset}
    </select>

    <select id="getLatestReservationOfUser" resultType="cn.alipapa.seat.bean.entity.Reservation">
        select *
        from reservation r
        where r.reservation_date = #{date}
          and r.user_id = #{userId}
        order by r.end desc
        limit 1
    </select>


    <insert id="insertAReservation" useGeneratedKeys="true">
        insert into reservation
            (user_id, seat_id, start, end, reservation_date)
            value (#{userId}, #{seatId}, #{start}, #{end}, #{date})
    </insert>

    <select id="getUseridBySerial" resultType="cn.alipapa.seat.bean.entity.User">
        select *
        from user
        where serial= #{serial}
        limit 1
    </select>
</mapper>