<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.alipapa.seat.dao.ReservationDao">
    <select id="getReservationOnSeatAtDate" resultType="cn.alipapa.seat.bean.entity.Reservation">
        select *
        from reservation as r
        where seat_id = #{seatId}
          and r.reservation_date = #{date, jdbcType=DATE}
    </select>
</mapper>