<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.alipapa.seat.dao.SeatDao">
    <select id="getRemainingSeatsEachLevel" resultType="cn.alipapa.seat.bean.response.LevelCountResponse">
        SELECT total.`level`              AS `level`,
               total.count - in_use.count AS `count`
        FROM seats_count_each_level total,
             in_use_seats_each_level in_use
        WHERE total.`level` = in_use.`level`
    </select>
</mapper>