<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.alipapa.seat.dao.UserOutDao">
    <update id="postLeaveTime">
    update record set leave_time=#{leaveTime}
    where user_id=#{userId} and leave_time is NULL
    </update>
</mapper>